.cv {
  margin: 100px 0 50px 0;
  padding: 15px 100px;
  font-size: 25px;
  font-weight: 800;
  color: #0ef;
  background-color: transparent;
  border: 2px solid #0ef;
  border-radius: 50px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  box-shadow: 0 0 rgba(0, 238, 255, 0.7) inset;
  transition: all 0.5s ease-in-out;
}
.cv:hover {
  background-color: #0ef;
  color: #081b29;
  box-shadow:
    0 0 10px #0ef,
    0 0 30px rgba(0, 238, 255, 0.699),
    0 0 50px rgba(0, 238, 255, 0.354),
    0 0 100px rgba(0, 238, 255, 0.205);
  transition-delay: 0.1s;
}
#contact>#btndiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  padding: 80px 10% 50px 10%;
  margin-top: 100px; /* extra margin top */
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
}
.footer div p {
  color: #dededeee;
  letter-spacing: 1px;
  font-weight: 100;
}
.footer > p {
  font-size: large;
  font-weight: 700;
  max-width: 600px;
  letter-spacing: 2px;
}
.footer > p > span {
  color: #0ef;
}
.copy-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.copy-info div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
}
.copy-info div p {
  width: 370px;
}
.copy-info i {
  color: rgba(0, 238, 255, 0.8);
}
.copy-info div i:last-of-type {
  color: #0ef;
  border-radius: 50%;
  padding: 10px;
  box-shadow:
    0 0 10px #0ef,
    0 0 30px #0ef;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.copy-info div i:last-of-type:hover {
  color: black;
  background: #0ef;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  padding-bottom: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}
